# node.js modules
node_modules/
dist/
build/

# local env files
.env
.env.*

# Google Cloud credentials
**/config/*.json

# log files
*.log

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/

# 機密檔案
*.env
*.pem
*.key
*.json
# 忽略 node_modules
node_modules/
# IDE 和系統
.vscode/

# 開發中暫存資料夾
nodetest/
YouBike-Report/
youbike-test-node/
youbike-test/